
@{
    ViewBag.Title = "upadte";
}

<h2>Update</h2>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<form action="/User/Update" method="post">

    <input type="text" name="Name" placeholder="Enter your name" />


    <input type="email" name="Email" placeholder="Enter your Email" />




    <input type="text" name="Contact" placeholder="Enter your Contact" />


    <input type="submit" value="Update User" class="btn btn-primary" />

</form>