
@{
    ViewBag.Title = "FAQs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main class="main">
    <div class="page-header text-center" style="background-image: url('/assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">F.A.Q<span>Pages</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">FAQ</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content" style="font-size:15px">
        <div class="container">
            <!--<h2 class="title text-center mb-3">Shipping Information</h2>--><!-- End .title -->
            <!--<div class="accordion accordion-rounded" id="accordion-1">
                <div class="card card-box card-sm bg-light">
                    <div class="card-header" id="heading-1">
                        <h2 class="card-title">
                            <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                                How to place an Order?
                            </a>
                        </h2>
                    </div>--><!-- End .card-header -->
                    <!--<div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-1">
                        <div class="card-body">
                            Select your favorite items by clicking on add to cart & once you have added all your desired items to your shopping cart, click on the shopping button on the  right corner of the website. Check all your items & proceed to check out to place your order.

                            Enter your contact information and click on continue to shipping and then click continue to payment.
                            After entering all the information, please click on procced to checkout.
                        </div>--><!-- End .card-body -->
                    <!--</div>--><!-- End .collapse -->
                <!--</div>--><!-- End .card -->

                <!--<div class="card card-box card-sm bg-light">
                    <div class="card-header" id="heading-2">
                        <h2 class="card-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                                How are the orders confirmed?
                            </a>
                        </h2>
                    </div>--><!-- End .card-header -->
                    <!--<div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-1">
                        <div class="card-body">
                            The customer needs to enter the verification code after placing an order, so that the orders are confirmed on spot.
                        </div>--><!-- End .card-body -->
                    <!--</div>--><!-- End .collapse -->
                <!--</div>--><!-- End .card -->

                <!--<div class="card card-box card-sm bg-light">
                    <div class="card-header" id="heading-3">
                        <h2 class="card-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                What are the Delivery Charges?
                            </a>
                        </h2>
                    </div>--><!-- End .card-header -->
                    <!--<div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-1">
                        <div class="card-body">
                            Flat PKR 99 will be charged on all orders.

                        </div>--><!-- End .card-body -->
                    <!--</div>--><!-- End .collapse -->
                <!--</div>--><!-- End .card -->

                <!--<div class="card card-box card-sm bg-light">
                    <div class="card-header" id="heading-4">
                        <h2 class="card-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                How do I check the delivery status?
                            </a>
                        </h2>
                    </div>--><!-- End .card-header -->
                    <!--<div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-1">
                        <div class="card-body">
                            All items sold on fashionease.com are delivered through reputed courier partners. Once dispatched, 
                        you will be provided a Tracking ID for your order through email. You may also check the status of your order 
                        on our website with the help of the Order ID provided to you at the time of order placement.
                        </div>--><!-- End .card-body -->
                    <!--</div>--><!-- End .collapse -->
                <!--</div>--><!-- End .card -->
            <!--</div>--><!-- End .accordion -->

            <h2 class="title text-center mb-3">Orders </h2><!-- End .title -->
            <div class="accordion accordion-rounded" id="accordion-2" >
                <div class="card card-box card-sm bg-light">
                    <div class="card-header" id="heading2-1">
                        <h2 class="card-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2-1" aria-expanded="false" aria-controls="collapse2-1" style="font-family:Arial;" >
                                How do I place an Order?
                            </a>
                        </h2>
                    </div><!-- End .card-header -->
                    <div id="collapse2-1" class="collapse" aria-labelledby="heading2-1" data-parent="#accordion-2">
                        <div class="card-body" >
                            Ordering at fashionease.pk is easy. Just select the items you want to shop enter your shipping address and payment information and you are home.
                            If you need any assistance give us a call at +92-302-8141555
                        </div><!-- End .card-body -->
                    </div><!-- End .collapse -->
                </div><!-- End .card -->

                <div class="card card-box card-sm bg-light">
                    <div class="card-header" id="heading-2-2">
                        <h2 class="card-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2-2" aria-expanded="false" aria-controls="collapse-2-2"style="font-family:Arial;" >
                                How are the orders confirmed?
                            </a>
                        </h2>
                    </div><!-- End .card-header -->
                    <div id="collapse-2-2" class="collapse" aria-labelledby="heading-2-2" data-parent="#accordion-2">
                        <div class="card-body">
                            The customer needs to enter the verification code after placing an order, so that the orders are confirmed on spot.
                        </div><!-- End .card-body -->
                    </div><!-- End .collapse -->
                </div><!-- End .card -->



                <div class="card card-box card-sm bg-light">
                    <div class="card-header" id="heading2-3">
                        <h2 class="card-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2-3" aria-expanded="false" aria-controls="collapse2-3" style="font-family:Arial;">
                                How will my order be deleiverd to me?
                            </a>
                        </h2>
                    </div><!-- End .card-header -->
                    <div id="collapse2-3" class="collapse" aria-labelledby="heading2-3" data-parent="#accordion-2">
                        <div class="card-body">
                            Your order would be delivered through reputed courier companies at your doorstep.
                        </div><!-- End .card-body -->
                    </div><!-- End .collapse -->
                </div><!-- End .card -->

                <div class="card card-box card-sm bg-light">
                    <div class="card-header" id="heading2-4">
                        <h2 class="card-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2-4" aria-expanded="false" aria-controls="collapse2-4" style="font-family:Arial;">
                                Can I add more items to my order after my order is placed?
                            </a>
                        </h2>
                    </div><!-- End .card-header -->
                    <div id="collapse2-4" class="collapse" aria-labelledby="heading2-4" data-parent="#accordion-2">
                        <div class="card-body">
                            Yes! after you've placed your order you could click on the option of continue shoppig and add your needed items.
                        </div><!-- End .card-body -->
                    </div><!-- End .collapse -->
                </div><!-- End .card -->

                <div class="card card-box card-sm bg-light">
                    <div class="card-header" id="heading2-5">
                        <h2 class="card-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2-5" aria-expanded="false" aria-controls="collapse2-5" style="font-family:Arial;">
                                Can I cancel my order?
                            </a>
                        </h2>
                    </div><!-- End .card-header -->
                    <div id="collapse2-5" class="collapse" aria-labelledby="heading2-5" data-parent="#accordion-2">
                        <div class="card-body">
                            If you wish to cancel your order, get in touch with Customer Care +92-302-8141555 as soon as possible with your order number.
                            As long as your order has not been dispatched we can cancel it and refund your amount. If your order has been dispatched but yet to be delivered, please do not accept delivery and contact Customer Care to inform them of the same.
                            In case of prepaid orders there would be a separate evaluation of the case and proceeded accordingly.
                        </div><!-- End .card-body -->
                    </div><!-- End .collapse -->
                </div><!-- End .card -->




                <!--<div class="card card-box card-sm bg-light">
                    <div class="card-header" id="heading2-4">
                        <h2 class="card-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2-4" aria-expanded="false" aria-controls="collapse2-4">
                                CAN I CANCEL MY ORDER?
                            </a>
                        </h2>
                    </div>--><!-- End .card-header -->
                    <!--<div id="collapse2-4" class="collapse" aria-labelledby="heading2-3" data-parent="#accordion-2">
                        <div class="card-body">
                            If you wish to cancel your order, get in touch with Customer Care +92-302-8141555 as soon as possible with your order number.
                            As long as your order has not been dispatched we can cancel it and refund your amount. If your order has been dispatched but yet to be delivered, please do not accept delivery and contact Customer Care to inform them of the same.
                            In case of prepaid orders there would be a separate evaluation of the case and proceeded accordingly.
                        </div>--><!-- End .card-body -->
                    <!--</div>--><!-- End .collapse -->
                <!--</div>--><!-- End .card -->
            </div><!-- End .accordion -->




            <h2 class="title text-center mb-3">Payments & Shippings</h2><!-- End .title -->
            <div class="accordion accordion-rounded" id="accordion-3">
                <div class="card card-box card-sm bg-light">
                    <div class="card-header" id="heading-3">
                        <h2 class="card-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3" style="font-family:Arial;">
                                What payment types can I use?
                            </a>
                        </h2>
                    </div><!-- End .card-header -->
                    <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-3" style="font-family:Arial;">
                        <div class="card-body">

                            Cash On Delivery (COD)
                        </div><!-- End .card-body -->
                    </div><!-- End .collapse -->
                </div><!-- End .card -->


                <div class="card card-box card-sm bg-light">
                    <div class="card-header" id="heading3-2">
                        <h2 class="card-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3-2" aria-expanded="false" aria-controls="collapse3-2" style="font-family:Arial;">
                                What are the Delivery Charges?
                            </a>
                        </h2>
                    </div><!-- End .card-header -->
                    <div id="collapse3-2" class="collapse" aria-labelledby="heading3-2" data-parent="#accordion-3">
                        <div class="card-body">
                            Flat PKR 99 will be charged on all orders.

                        </div><!-- End .card-body -->
                    </div><!-- End .collapse -->
                </div><!-- End .card -->


                <div class="card card-box card-sm bg-light">
                    <div class="card-header" id="heading3-3">
                        <h2 class="card-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3-3" aria-expanded="false" aria-controls="collapse3-3" style="font-family:Arial;">
                                Do I have to pay any taxes on the order I place?
                            </a>
                        </h2>
                    </div><!-- End .card-header -->
                    <div id="collapse3-3" class="collapse" aria-labelledby="heading3-3" data-parent="#accordion-3">
                        <div class="card-body">
                            No, you do not have to pay any additional tax on the order you place. All applicable taxes are included in the actual product price.
                        </div><!-- End .card-body -->
                    </div><!-- End .collapse -->
                </div><!-- End .card -->
                <!--<div class="card card-box card-sm bg-light">
    <div class="card-header" id="heading3-3">
        <h2 class="card-title">
            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3-3" aria-expanded="false" aria-controls="collapse3-3">
                WHAT SHOULD I DO IF MY PAYMENT FAILS?
            </a>
        </h2>
    </div>-->
                <!-- End .card-header -->
                <!--<div id="collapse3-3" class="collapse" aria-labelledby="heading3-3" data-parent="#accordion-3">
    <div class="card-body">
        Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
    </div>-->
                <!-- End .card-body -->
                <!--</div>--><!-- End .collapse -->
                <!--</div>--><!-- End .card -->


                <div class="card card-box card-sm bg-light">
                    <div class="card-header" id="heading3-4">
                        <h2 class="card-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3-4" aria-expanded="false" aria-controls="collapse3-4" style="font-family:Arial;">
                                How do I check the delivery status?
                            </a>
                        </h2>
                    </div><!-- End .card-header -->
                    <div id="collapse3-4" class="collapse" aria-labelledby="heading3-4" data-parent="#accordion-3">
                        <div class="card-body">
                            All items sold on fashionease.com are delivered through reputed courier partners. Once dispatched,
                            you will be provided a Tracking ID for your order through email. You may also check the status of your order
                            on our website with the help of the Order ID provided to you at the time of order placement.
                        </div><!-- End .card-body -->
                    </div><!-- End .collapse -->
                </div><!-- End .card -->



                <div class="card card-box card-sm bg-light">
                    <div class="card-header" id="heading3-5">
                        <h2 class="card-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3-5" aria-expanded="false" aria-controls="collapse3-5" style="font-family:Arial;">
                                What is the proccess on Cash on Delievery (COD) purchases?
                            </a>
                        </h2>
                    </div><!-- End .card-header -->
                    <div id="collapse3-5" class="collapse" aria-labelledby="heading3-5" data-parent="#accordion-3">
                        <div class="card-body">
                            When you make a purchase using the COD option, your product will be booked. You will receive a call from us to confirm your order before it gets dispatched. If you are unreachable or unable to attend the call,
                            please contact us +92-302-8141555 if you are still interested in receiving the product.
                        </div><!-- End .card-body -->
                    </div><!-- End .collapse -->
                </div><!-- End .card -->
            </div><!-- End .accordion -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->

    <div class="cta cta-display bg-image pt-4 pb-4" style="background-image: url(/assets/images/backgrounds/cta/bg-7.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-9 col-xl-7">
                    <div class="row no-gutters flex-column flex-sm-row align-items-sm-center">
                        <div class="col">
                            <h3 class="cta-title text-white">If You Have More Questions</h3><!-- End .cta-title -->
                            <p class="cta-desc text-white" style="text-align:center;color:black;">Feel Free to Ask!</p><!-- End .cta-desc -->
                        </div><!-- End .col -->

                        <div class="col-auto">
                            <a href="/Home/ContactUs" class="btn btn-outline-white"><span>CONTACT US</span><i class="icon-long-arrow-right"></i></a>
                        </div><!-- End .col-auto -->
                    </div><!-- End .row no-gutters -->
                </div><!-- End .col-md-10 col-lg-9 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .cta -->
</main><!-- End .main -->
