
@{
    ViewBag.Title = "ReturnsandExchanges";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>ReturnsandExchanges</h2>*@



<main class="main">
    <div class="page-header text-center" style="background-image: url('/assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Returns & Exchanges<span>Page</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Returns & Exchanges</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content" style="font-size:15px">
        <div class="container">
            <!--<h2 class="title text-center mb-3">Shipping Information</h2>--><!-- End .title -->
            <!--<div class="accordion accordion-rounded" id="accordion-1">
    <div class="card card-box card-sm bg-light">
        <div class="card-header" id="heading-1">
            <h2 class="card-title">
                <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                    How to place an Order?
                </a>
            </h2>
        </div>-->
            <!-- End .card-header -->
            <!--<div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-1">
    <div class="card-body">
        Select your favorite items by clicking on add to cart & once you have added all your desired items to your shopping cart, click on the shopping button on the  right corner of the website. Check all your items & proceed to check out to place your order.

        Enter your contact information and click on continue to shipping and then click continue to payment.
        After entering all the information, please click on procced to checkout.
    </div>-->
            <!-- End .card-body -->
            <!--</div>--><!-- End .collapse -->
            <!--</div>--><!-- End .card -->
            <!--<div class="card card-box card-sm bg-light">
    <div class="card-header" id="heading-2">
        <h2 class="card-title">
            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                How are the orders confirmed?
            </a>
        </h2>
    </div>-->
            <!-- End .card-header -->
            <!--<div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-1">
    <div class="card-body">
        The customer needs to enter the verification code after placing an order, so that the orders are confirmed on spot.
    </div>-->
            <!-- End .card-body -->
            <!--</div>--><!-- End .collapse -->
            <!--</div>--><!-- End .card -->
            <!--<div class="card card-box card-sm bg-light">
    <div class="card-header" id="heading-3">
        <h2 class="card-title">
            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                What are the Delivery Charges?
            </a>
        </h2>
    </div>-->
            <!-- End .card-header -->
            <!--<div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-1">
    <div class="card-body">
        Flat PKR 99 will be charged on all orders.

    </div>-->
            <!-- End .card-body -->
            <!--</div>--><!-- End .collapse -->
            <!--</div>--><!-- End .card -->
            <!--<div class="card card-box card-sm bg-light">
    <div class="card-header" id="heading-4">
        <h2 class="card-title">
            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                How do I check the delivery status?
            </a>
        </h2>
    </div>-->
            <!-- End .card-header -->
            <!--<div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-1">
    <div class="card-body">
        All items sold on fashionease.com are delivered through reputed courier partners. Once dispatched,
    you will be provided a Tracking ID for your order through email. You may also check the status of your order
    on our website with the help of the Order ID provided to you at the time of order placement.
    </div>-->
            <!-- End .card-body -->
            <!--</div>--><!-- End .collapse -->
            <!--</div>--><!-- End .card -->
            <!--</div>--><!-- End .accordion -->


            <h2 class="title text-center mb-3">RETURN POLICY </h2><!-- End .title -->

            <div class="accordion accordion-rounded" id="accordion-2">

                <div class="card card-box card-sm bg-light">
                    <div class="card-header" id="heading2-8">
                        <h2 class="card-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2-8" aria-expanded="false" aria-controls="collapse2-8" style="font-family:Arial;">
                                What is FashionEase Return Policy?
                            </a>
                        </h2>
                    </div><!-- End .card-header -->
                    <div id="collapse2-8" class="collapse" aria-labelledby="heading2-1" data-parent="#accordion-2">
                        <div class="card-body" style=" color:black">
                            FashionEase does not offer a return policy.
                        <br/>
                            However, we can guide you in requesting an exchange for your article. Please refer to the following-mentioned Exchange policy for this.


                        </div><!-- End .card-body -->
                    </div><!-- End .collapse -->
                </div><!-- End .card -->

            </div>



                <h2 class="title text-center mb-3">EXCHANGE POLICY </h2><!-- End .title -->
                <div class="accordion accordion-rounded" id="accordion-2">
                    <div class="card card-box card-sm bg-light">
                        <div class="card-header" id="heading2-1">
                            <h2 class="card-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2-1" aria-expanded="false" aria-controls="collapse2-1" style="font-family:Arial;">
                                    What is FashionEase Exchange Policy?
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse2-1" class="collapse" aria-labelledby="heading2-1" data-parent="#accordion-2">
                            <div class="card-body" style=" color:black">
                                FashionEase.pk 14 Day Exchange Policy!
                                <br />

                                Though we strive to give you a great customer experience each time you shop with us, if at all you are not 100% satisfied with your purchase, No Worries!!, you can buy any product in exchange (excluding sale items) to your previous order.
                                <br />
                                We mean what we say! All you need to do is give us a call on +92 31 125 840 22 from 10:00 AM to 5:30 PM (Monday to Saturday ) or drop an email at fashionease@gmail.com within a period of 14 days, from the date of order.
                                <br />
                                However, you must understand that we can't bear a loss either; so exchange of products will be accepted only if the products are returned in a saleable condition with the tags intact and in their original packaging, in an unwashed and undamaged condition. C'mon that's just fair!
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->

                    <div class="card card-box card-sm bg-light">
                        <div class="card-header" id="heading-2-2">
                            <h2 class="card-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2-2" aria-expanded="false" aria-controls="collapse-2-2" style="font-family:Arial;">
                                    Which Items Can I exchange?
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse-2-2" class="collapse" aria-labelledby="heading-2-2" data-parent="#accordion-2">
                            <div class="card-body" style=" color:black">
                                All returnable items (except sale items) can be exchanged.
                                <br />
                                To check which items cannot be exchanged, please call our customer care number +92 31 125 840 22 from Monday to Saturday. We are constantly working to include more and more products to our exchange list.
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->



                    <div class="card card-box card-sm bg-light">
                        <div class="card-header" id="heading2-3">
                            <h2 class="card-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2-3" aria-expanded="false" aria-controls="collapse2-3" style="font-family:Arial;">
                                    Which Items Can I buy in exchange?
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse2-3" class="collapse" aria-labelledby="heading2-3" data-parent="#accordion-2">
                            <div class="card-body" style=" color:black">
                                Any product/s (except sale items) can be bought in exchange.
                                <br />
                                The final price of exchanged products should be equal to or more than the price of returned items.
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->

                    <div class="card card-box card-sm bg-light">
                        <div class="card-header" id="heading2-4">
                            <h2 class="card-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2-4" aria-expanded="false" aria-controls="collapse2-4" style="font-family:Arial;">
                                    How soon can I expect the Exchnaged Products?
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse2-4" class="collapse" aria-labelledby="heading2-4" data-parent="#accordion-2">
                            <div class="card-body" style=" color:black">
                                Exchanged product is dispatched as soon as the returned item/s has passed product inspection. Generally we won't take more than 72 hours after receiving the order.
                                <br />
                                In case of any unexpected delay, we will keep you informed by email and SMS or Phone call.
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->

                    <div class="card card-box card-sm bg-light">
                        <div class="card-header" id="heading2-5">
                            <h2 class="card-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2-5" aria-expanded="false" aria-controls="collapse2-5" style="font-family:Arial;">
                                    Can I exchnage my product for an Item of lesser value?
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse2-5" class="collapse" aria-labelledby="heading2-5" data-parent="#accordion-2">
                            <div class="card-body" style=" color:black">
                                No, your exchange order value should be equal to or more than the return item/s value.
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->





                    <div class="card card-box card-sm bg-light">
                        <div class="card-header" id="heading2-6">
                            <h2 class="card-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2-6" aria-expanded="false" aria-controls="collapse2-6" style="font-family:Arial;">
                                    Can I buy multiple items in exchnage of single product?
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse2-6" class="collapse" aria-labelledby="heading2-5" data-parent="#accordion-2">
                            <div class="card-body" style=" color:black">
                                Yes, you can buy any number of items in exchange provided the final price of exchanged products should be equal to or more than the price of returned items.
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->






                    <div class="card card-box card-sm bg-light">
                        <div class="card-header" id="heading2-7">
                            <h2 class="card-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2-7" aria-expanded="false" aria-controls="collapse2-7" style="font-family:Arial;">
                                    Can I Re-exchange?
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse2-7" class="collapse" aria-labelledby="heading2-7" data-parent="#accordion-2">
                            <div class="card-body" style=" color:black">
                                If you are still dissatisfied with the product, you can again exchange the product for any item (covered in exchange policy).
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->
                    <!-- End .card-header -->
                    <!--<div id="collapse2-4" class="collapse" aria-labelledby="heading2-3" data-parent="#accordion-2">
            <div class="card-body">
                If you wish to cancel your order, get in touch with Customer Care +92-302-8141555 as soon as possible with your order number.
                As long as your order has not been dispatched we can cancel it and refund your amount. If your order has been dispatched but yet to be delivered, please do not accept delivery and contact Customer Care to inform them of the same.
                In case of prepaid orders there would be a separate evaluation of the case and proceeded accordingly.
            </div>-->
                    <!-- End .card-body -->
                    <!--</div>--><!-- End .collapse -->
                    <!--</div>--><!-- End .card -->
                </div><!-- End .accordion -->










                <h2 class="title text-center mb-3">REFUNDS</h2><!-- End .title -->
                <div class="accordion accordion-rounded" id="accordion-3">
                    <div class="card card-box card-sm bg-light">
                        <div class="card-header" id="heading-3">
                            <h2 class="card-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3" style="font-family:Arial;">
                                    Can I refund?
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-3" style="font-family:Arial;">
                            <div class="card-body" style=" color:black">

                                We do not offer cash returns. On the off chance, the product quality is flawed or damaged, you can avail exchange or store credit of the same amount. Refund may be facilitated under unusual circumstances wherein the product runs out of stock. Shipping cost and taxes are non-refundable.
                                <br />
                                For further queries, fee free to reach out to us at +92 31 125 840 22 from 10:00 AM to 5:30 PM (Monday to Saturday) or drop an email at fashionease@gmail.com within 7 days of your purchase.
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->

                </div><!-- End .accordion -->
            </div><!-- End .container -->
        </div><!-- End .page-content -->

    <div class="cta cta-display bg-image pt-4 pb-4" style="background-image: url(/assets/images/backgrounds/cta/bg-7.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-9 col-xl-7">
                    <div class="row no-gutters flex-column flex-sm-row align-items-sm-center">
                        <div class="col">
                            <h3 class="cta-title text-white">If You Have More Questions</h3><!-- End .cta-title -->
                            <p class="cta-desc text-white" style="text-align:center;color:black;">Feel Free to Ask!</p><!-- End .cta-desc -->
                        </div><!-- End .col -->

                        <div class="col-auto">
                            <a href="/Home/ContactUs" class="btn btn-outline-white"><span>CONTACT US</span><i class="icon-long-arrow-right"></i></a>
                        </div><!-- End .col-auto -->
                    </div><!-- End .row no-gutters -->
                </div><!-- End .col-md-10 col-lg-9 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .cta -->
</main><!-- End .main -->
